.listita {
    background-color: #d12f2f !important;
    color: #ffffff;
}

.menu {
    background-color: #d12f2f !important;
    color: #ffffff;
}

.img-pefil {
    border-radius: 10%;
    width: 25px;
    height: 25px;
}